@tailwind base;
@tailwind components;
@tailwind utilities;

body{background-color: #eee;}

@media screen and (max-width:1007px) {
    .headerdivforlarge{display: none;} 
}

@media screen and (min-width:1007px) {
    .headerdivforsmallandmedium{display: none;}
}

  .menuitems{transition: 0.3s ease-in-out;}
  .menuitems:hover{transform:scale3d(1.1,1.1,1.1)}

  .menuitems2{transition: 0.3s ease-in-out;}
  .menuitems2:hover{transform:scale3d(1.05,1.05,1.05)}

  .menuitems3{transition: 0.3s ease-in-out;cursor: pointer;}
  .menuitems3:hover{font-size: 110%;}

  .menuitems4{transition: 0.3s ease-in-out;cursor: pointer;}
  .menuitems4:hover{font-size: 120%;}

   button{transition: 0.3s ease-in-out;}
  .generalbutton{transition: 0.3s ease-in-out;}
  .generalbutton:hover{background-color: #070;}
  .secondbutton:hover{background-color: #040;}

  @media screen and (min-width:1007px) {
    .admindashboard{background-size: 100%;}  
  }

  @media screen and (max-width:1007px) {
    .admindashboard{background-position-x: 70%; background-position-y: 10%;}  
  }

  @keyframes loadingAnimation {0%{transform: translate3d(-50%, 0,0);} 100%{transform: translate3d(50%, 0,0);}}
  .loadingimage{animation: loadingAnimation 1s alternate infinite;}

  .connectwalletbutton{transition: 0.3s ease-in-out;}
  .connectwalletbutton:hover{background: #003;}

  .disconnectwalletbutton{transition: 0.3s ease-in-out;}
  .disconnectwalletbutton:hover{background-color: #001;}