@tailwind base;
@tailwind components;
@tailwind utilities;

body{background-color: #000;color: #fff;}

@media screen and (max-width:1007px) {
    .headerdivforlarge{display: none;} 
}

@media screen and (min-width:1007px) {
    .headerdivforsmallandmedium{display: none;}
}

  .menuitems{transition: 0.3s ease-in-out;}
  .menuitems:hover{transform:scale3d(1.1,1.1,1.1)}

  .menuitems2{transition: 0.3s ease-in-out;}
  .menuitems2:hover{transform:scale3d(1.05,1.05,1.05)}

  .menuitems3{transition: 0.3s ease-in-out;cursor: pointer;}
  .menuitems3:hover{font-size: 110%;}

  .menuitems4{transition: 0.3s ease-in-out;cursor: pointer;}
  .menuitems4:hover{font-size: 120%;}

   button{transition: 0.3s ease-in-out;}
  .generalbutton{transition: 0.3s ease-in-out;}
  .generalbutton:hover{background-color: #070;}
  .generalbutton2{transition: 0.3s ease-in-out;}
  .generalbutton2:hover{background-color: #040;}
  .generalbutton3{transition: 0.3s ease-in-out;}
  .generalbutton3:hover{background-color: #602; transform: scale3d(0.95,0.95,0.95);}
  .ecobutton:hover + .docbutton + .githubbutton{filter: blur(3px);}
  .ecobutton:hover + .docbutton{filter: blur(3px);}

  @media screen and (min-width:1007px) {
    .admindashboard{background-size: 100%;}  
  }

  @media screen and (max-width:1007px) {
    .admindashboard{background-position-x: 70%; background-position-y: 10%;}  
  }

  @keyframes loadingAnimation {0%{transform: translate3d(-50%, 0,0);} 100%{transform: translate3d(50%, 0,0);}}
  .loadingimage{animation: loadingAnimation 1s alternate infinite;}

  .connectwalletbutton{transition: 0.3s ease-in-out;}
  .connectwalletbutton:hover{background: #003;}

  .disconnectwalletbutton{transition: 0.3s ease-in-out;}
  .disconnectwalletbutton:hover{background-color: #001;}

  @keyframes displayAnimation1 {0%{display: block;} 19%{display: block;} 20%{display: none;}  100%{display: none;}}
  @keyframes displayAnimation2 {0%{display: none;}  20%{display: none} 21%{display: block;} 39%{display: block;} 40%{display: none;} 100%{display: none;}}
  @keyframes displayAnimation3 {0%{display: none;}  40%{display: none;} 41%{display: block;} 59%{display: block} 60%{display: none} 100%{display: none;}}
  @keyframes displayAnimation4 {0%{display: none;}  60%{display: none;} 61%{display: block;} 79%{display: block} 80%{display: none} 100%{display: none;}}
  @keyframes displayAnimation5 {0%{display: none;}  80%{display: none;} 81%{display: block;} 100%{display: block;}}
  .info1{animation: displayAnimation1 30s linear infinite;}
  .info2{animation: displayAnimation2 30s linear infinite;}
  .info3{animation: displayAnimation3 30s linear infinite;}
  .info4{animation: displayAnimation4 30s linear infinite;}
  .info5{animation: displayAnimation5 30s linear infinite;}

 .socialcols1 {transition: 1s ease-in-out;}
 .socialcols1:hover{transform: scale3d(1.05, 1.05, 1.05);}
 .socialcols2 {transition: 1s ease-in-out;}
 .socialcols2:hover{transform: scale3d(1.05, 1.05, 1.05);}
 .socialcols3 {transition: 1s ease-in-out;}
 .socialcols3:hover{transform: scale3d(1.05, 1.05, 1.05);}
 .socialcols4 {transition: 1s ease-in-out;}
 .socialcols4:hover{transform: scale3d(1.05, 1.05, 1.05);}


 .socialcols1{background-image: linear-gradient(45deg, rgba(100,0,0,0.8), blue, rgba(0,200,0,0.1));}
 .socialcols2{background-image: linear-gradient(45deg, rgba(0,0,200,0.5), rgba(0,0,100,0.5), rgba(0,200,0,0.1));}
 .socialcols3{background-image: linear-gradient(45deg, rgba(0,0,200,0.5), rgba(200,200,200,0.5), rgba(250,250,250,0.9), rgba(0,0,0,0.5));}
 .socialcols4{background-image: linear-gradient(45deg, rgba(0,0,230,0.8), rgba(0,0,100,0.9), rgba(200,200,200,0.3));}

 .teamcols1:hover .teaminfo{transform: translate3d(0, -150%, 0); background:rgba(70,0,20,0.8); padding: 0.4cm;margin-bottom: -3cm; margin-right: 1cm; box-shadow: 2px 2px 10px 2px #000;}
 .teaminfo{box-shadow:2px 2px 10px 1px #502}

 @media screen and (min-width:1007px) {
  .homepagedappdiv{background-position-x: -2%; background-position-y: 30%;}
 }

 @media screen and (max-width:1007px) {
  .homepagedappdiv{background-size: 130%;}
 }

 @media screen and (min-width:1007px) {
  .firstsectiondiv{background-size:120%;}
 }

 @media screen and (max-width:1007px) {
  .firstsectiondiv{background-position-x: 20%; background-position-y: 30%;}
 }

 @keyframes developersAnimation{0%{} 100%{box-shadow: 2px 2px 8px 4px #502;}}
 .developersimages{animation: developersAnimation 2s alternate infinite;}
 
 @keyframes dAppAnimation{0%{} 100%{box-shadow: 2px 2px 7px 4px #502;}}
 .dAppdivs{animation: dAppAnimation 2s alternate infinite;}

 @keyframes blurAnimation1 {0%{transform: translate3d(0, -20px, -40px)} 40%{filter: blur(5px);} 55%{transform: translate3d(0, 20px, 0)} 75%{ transform: scale3d(1.2,1.2,1.2)} 100%{transform: translate3d(20px, 0px, 0)}}
 @keyframes blurAnimation2 {0%{transform: translate3d(-40px, -15px, -40px)} 35%{transform: translate3d(30px, 75px, 0)} 65%{ transform: scale3d(1.2,1.2,1.2)} 85%{transform: translate3d(40px, -20px, 0)} 100%{filter: blur(5px);}}
 .blurimage1{transition: 0.5s ease-in-out; filter: blur(10px); animation: blurAnimation1 40s alternate infinite;}
 .blurimage1:hover{filter:none;}
 .blurimage2{transition: 0.5s ease-in-out; filter: blur(10px); animation: blurAnimation2 40s alternate infinite;}
 .blurimage2:hover{filter:none;}